  <h1><p style="padding-top:100px; text-align:center;">Welcome to Receipt Data Entry</p></h1>

  <p style="padding-top:10px; text-align:center; font-size:20px">Please enter your name : </p>


    <form action = "/get-issuer-name" method = "post">
      <input type = "text" name = "receipt[issuer]">
      <input type = "submit" value = "Submit">
    </form>
