<!DOCTYPE html>
  <html lang='en'>
    <head>
      <!-- <link rel="stylesheet" href="/stylesheets/style.css"> -->
      <title>Receipt Data Entry</title>
    </head>
    <body>
        <%= yield %>
    </body>
  </html>
